body {
    margin: 20;
    padding: 550px;
    background: url(https://www.orexca.com/img/tajikistan/dushanbe.jpg) center/cover no-repeat;
    min-height: 300vh;
}

.container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.blur-box {
background: rgba(30, 30, 30, 20%);
backdrop-filter: blur(10px);
padding: 50px;
border-radius: 40px;
border: 1px solid rgba(255, 255, 255, 0.3);
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
max-width: 300px;
}

.blur-box h3 {
margin-top: 10;
font-size: 1.5em;
}

.blur-box p {
    font-size: 1em;
    line-height: 1.4;
}

.btn-primary {
    background: rgba(30, 30, 30, 10%);
    backdrop-filter: blur(10px);   
    color: white;
    border: none;
    padding: 15px 50px;
    border-radius: 100px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn-primary:hover {
    box-shadow: 0 0 25px rgba(53, 47, 29, 0.8);
    transform: translateY(-2px);
}